<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>don't use component</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
    <div id="demo">
        <form id="search">
            Search
            <input name="query" v-model="filterKey">
        </form>
        <table>
            <thead>
                <tr>
                    <th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey == key }">
                        {{ key | capitalize }}
                        <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
		          </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in filteredData">
                    <td v-for="key in columns">
                        {{entry[key]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="../vue.js"></script>
    <script type="text/javascript">
    var demo = new Vue({
        el: '#demo',
        data: {
        	sortKey: '',
            filterKey: '',
            columns: ['name', 'power', 'age', 'penis'],
            data: [
                { name: 'Chuck Norris', power: Infinity, age: 45, penis: 10 },
                { name: 'Bruce Lee', power: 9000, age: 30, penis: 13 },
                { name: 'Jackie Chan', power: 7000, age: 37, penis: 17 },
                { name: 'Jet Li', power: 8000, age: 51, penis: 14 }
            ]
        },
        

        computed: {
        	sortOrders: function() {
	            var sortOrders = {}
	            this.columns.forEach(function(key) {
	                sortOrders[key] = 1
	            })
	            return sortOrders
	        },
            filteredData: function() {
                console.log(this.filterKey)
                var sortKey = this.sortKey
                var filterKey = this.filterKey && this.filterKey.toLowerCase()
                var order = this.sortOrders[sortKey] || 1
                var data = this.data
                if (filterKey) {
                    data = data.filter(function(row) {
                        return Object.keys(row).some(function(key) {
                            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                        })
                    })
                }
                if (sortKey) {
                    data = data.slice().sort(function(a, b) {
                        a = a[sortKey]
                        b = b[sortKey]
                        return (a === b ? 0 : a > b ? 1 : -1) * order
                    })
                }
                return data
            }
        },
        filters: {
            capitalize: function(str) {
                return str.charAt(0).toUpperCase() + str.slice(1)
            }
        },
        methods: {
            sortBy: function(key) {
                this.sortKey = key
                this.sortOrders[key] = this.sortOrders[key] * -1
            }
        }
    })
    </script>
</body>

</html>