<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>props</title>
	<style type="text/css">
		div {
			border: 3px solid gray;
			border-radius: 2px 4px 2px;
			margin-top: 20px;
		}
	</style>
	<script type="text/javascript" src="../vue.js"></script>
</head>
<body>
	<div id="kebab">
		<child my-message="hello!"></child>
		<child></child>
		<br>
		<input v-model="parentMsg">
  		
		<child :my-message="parentMsg"></child>

	</div>
	

	<script type="text/javascript">
		Vue.component('child', {
		  // 在 JavaScript 中使用 camelCase
		  props: ['myMessage'],
		  template: '<span>{{ myMessage }}</span>'
		})
		var app = new Vue({
			el:"#kebab",
			data:{
				parentMsg:"baba"
			}
		})
	</script>
</body>
</html>