<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        #root {
            /* height: 300px; */
            max-width: 300px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }
        .form-input{
            font-size: 28px;
        }
        .form div {
            margin-bottom: 10px;
        }
    </style>
    <link rel="stylesheet" href="./login.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/vue/2.5.10/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.20.0-0/axios.min.js"></script>
</head>

<body>
    <div id="root">
        <div class="content">
            <div class="form">
                <div>
                    <input type="text" class="form-input" autofocus v-model="user" placeholder="请输入用户名">
                </div>
                <div>
                    <input type="password" class="form-input" v-model="password" placeholder="请输入密码">
                </div>
                <div>
                    <button @click="login"><strong class="form-input">登录</strong></button>
                </div>
            </div>
        </div>

    </div>
    </script>


    <script>
        let urlHao = "http://panos.zhikuntech.com";
        new Vue({
            el: "#root",
            data: function () {
                return {
                    user: '',
                    password: '',
                }
            },
            methods: {
                login: function () {
                    let any = this.user || this.password;
                    if (any) {
                        console.log(any)
                    }


                    let self = this;
                    axios.post(urlHao, {
                        username: window.encodeURIComponent(self.username),
                        password: self.password
                    }).then(({ status, data }) => {
                        if (status === 200) {
                            console.log("success")
                            if (data && data.code === 0) {
                                location.href = '/'
                            } else {
                                self.error = data.msg
                            }
                        } else {
                            self.error = `服务器出错`
                        }
                    })
                }
            }
        })
    </script>

</body>

</html>