<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>渲染</title>
	<script src="vue.js"></script>
</head>
<body>
	<div class="if">
		<div v-if="Math.random() > 0.5">
		  Now you see me
		</div>
		<div v-else>
		  Now you don't
		</div>
		
	</div>
	
<div class="toggle">
		<template v-if="loginType === 'username'">
		  <label>Username</label>
		  <input placeholder="Enter your username">
		</template>
		<template v-else>
		  <label>Email</label>
		  <input placeholder="Enter your email address">
		</template>
		<button @click="toggleLoginType">Toggle login type</button>



<template v-if="loginType === 'username'">
  <label>Username</label>
  <input placeholder="Enter your username" key="username-input">
</template>
<template v-else>
  <label>Email</label>
  <input placeholder="Enter your email address" key="email-input">
</template>
</div>



<script type="text/javascript">
	var toggle = new Vue({
		el: ".toggle",
		data:{loginType: 'username'},
		methods: {
		    toggleLoginType: function () {
		      return this.loginType = this.loginType === 'username' ? 'email' : 'username'
		    }
		  }
	})


	var ifelse = new Vue({
		el:".if"
		// data:{}
	})


	var time = new Date();
	console.log(time.getHours())
</script>
</body>
</html>